#
#	  Author :		Luke Brown
#	  License:  	Permission based - ask me first before using.
#	  Created: 		July 2014
#	  Contact:		me@luke.sx
#

RewriteEngine On
Options -Indexes
ErrorDocument 403 http://demo.luke.sx/se1by/
ErrorDocument 404 http://demo.luke.sx/se1by/

# to protect configurations.php
<Files configurations.php>
order allow,deny
deny from all
</Files>

# don't touch /assets URIs
RewriteRule ^assets/ - [L,NC]
